* {
  margin: 0;
}

.app {
  background-color: gray;
  height: 100vh;
}

.app__header {
  background-color: grey;
  padding: 20px;
  height: 25px;
  border-bottom: 1px solid darkgrey;
  object-fit: contain;
}

.app__headerImage {
  background-color: grey;
  height: 25px;
  object-fit: contain;
}