.post {
    max-width: 500px;
    background-color: grey;
    border: 1px solid darkgray;
    margin-bottom: 45px;
}
.post__image {
    width: 100%;
    object-fit: contain;
    background-color: grey;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.post__text {
    font-weight: normal;
    background-color: grey;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: grey;
}

.post__avatar {
    margin-right: 10px;
    background-color: grey;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__comments {
    padding: 20px;
}
.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid darkgrey;
}

.post__button {
    flex: 0;
    border: none;
    color: darkgrey;
    background-color: transparent;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.post__comment {
    flex: 1;
    display: grid;
    grid-template-columns: 0.5fr, 5fr;
    margin-bottom: 3px;
}

.delete__comment {
    font-size: 12;
    padding: 0px;
    border: none;
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 5px;
    color: darkgrey;
    background-color: grey;
}

.delete__button {
    flex: 0;
    border: none;
    color: darkgrey;
    background-color: transparent;
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    cursor: pointer;
}